#home .content {
    display: flex;
    align-items: center;
}

#home header {
    margin-top: 35px;
    margin-left: 35px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

#home header span h1 {
    font-size: 30px;
    color: var(--title-color);
    font-weight: bolder;
}

#home header span h4 {
    font-size: 12px;
    color: var(--title-color);
    font-weight: lighter;
}


/*Commented after added #home main form
/* #home main {
    height: 100vh;
    margin-top: 50px;
    margin-left: 35px;
    margin-right: 35px;
    display: flex;
    flex-direction: row;
} */

#home main form {
    height: 50vh;
    margin-top: 20px;
    margin-left: 35px;
    margin-right: 35px;
    display: flex;
    flex-direction: row;
}

#home main .json-field {
    max-height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    float: left;
}

#home main .json-field label {
    font-size: 16px;
    font-weight: normal;
    align-self: left;
}

#home main .json-field textarea {
    height: 100%;
    width: 100%;
    resize: none;
    border: none;
    border-radius: 10px;
    background-color: #f0f0f0;
}

#home main .button-area {
    max-height: 500px;
    width: 15%;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#home main button {
    height: 40px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 8px;
    background-color: var(--title-color);
}

#home main button:hover {
    background-color: var(--hover-color);
}

#home main .csv-field {
    max-height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    float: left;
}

#home main .csv-field label {
    font-size: 16px;
    font-weight: normal;
    align-self: left;
}

#home main .csv-field textarea {
    height: 100%;
    width: 100%;
    resize: none;
    border: none;
    border-radius: 10px;
    background-color: #f0f0f0;
}